<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link href="./static/css/login.css" rel="stylesheet" s></link>
    </head>
  <link href="/static/css/profile.css" rel='stylesheet' type='text/css' ></link>  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<body>
  <h1 style="text-align: center; margin-top: 5%; margin: 2%;">Profile</h1>
  <div style="margin-left: 42%" >
    <div class="card" style="width: 18rem; align-items:center;">
      <img src="/static/farmer.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Name: xyzss</p>
        <p class="card-text">City: Indore</p>
        <p class="card-text">State: M.P.</p>
        <p class="card-text">Contact: +91 3434567 <p>
        <p class="card-text">Address: 123, abc colony, Indore</p>
      </div>
  </div>

  <table class="table" style="margin-left: -30%; margin-top: 5%;">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">Product</th>
        <th scope="col"></th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <th scope="row">Apple</th>
        <td></td>
        <td>25-02-2020</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <th scope="row">Wheat</th>
        <td></td>
        <td>20-02-2020</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <th scope="row">Potato</th>
        <td></td>
        <td>17-02-2020</td>
      </tr>
    </tbody>
  </table>

  <h1 style="text-align: center; margin-top: 5%; margin: 2%;margin-left: -62%;">Add new product</h1>

  <div class="container px-lg-5">
    <div class="row mx-lg-n5">
      <div class="col py-3 px-lg-5 border bg-light" style="margin-left: -60%;">
        <img src="/static/farmer.jpeg" alt="..." class="img-thumbnail">
      </div>
      <div class="col py-3 px-lg-5 border bg-light" style="margin-right: 10%;">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Enter product name" aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Add</button>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Enter quantity" aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Add</button>
          </div>
        </div>

        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="inputGroupFile01">Upload Photo</label>
        </div>
      </div>
      </div>
    </div>
  </div>

    
      
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  
</body>

</html>